<div class="container" data-ng-controller='usuarioCtrl'>
    <div>
        <div class="row" data-ng-show="!usuario">
            <div class="col-12">
            	<div class="card">
            		<div class="card-body text-center">
            			<h3>Lista de Usuarios</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Tipo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="file in listaUsuario">
                            <td>{{file.id}}</td>
                            <td>{{file.nombre}}</td>
                            <td>{{file.paterno}}</td>
                            <td>{{file.materno}}</td>
                            <td>{{file.tipo}}</td>
                            <td class=" text-left">
                                <button type="button" class="btn btn-warning" data-ng-click="iniciarEdicion(file);"><i
                                        class="fa fa-edit"></i>
                                    Editar</button>
                                <button type="button" class="btn btn-danger" data-ng-click="borrarUsuario(file)"><i
                                        class="fa fa-times"></i>
                                    Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-info" data-ng-click="verSeccion();">
                    Agregar</button>
            		</div>
            	</div>
            </div>
        </div>



        <div class="row" data-ng-show="usuario">
            <div class="col-12">
            	<div class="card">
            		<div class="card-body">
            			<h3 class="text-center">Formulario de Usuario</h3>
            			<form name="editarUsuarioForm" autocomplete="off" data-ng-submit="submitForm(editarUsuarioForm.$valid)"
                    novalidate>

                                    <div class="form-group">
                                        <label for="txtTitulo">Nombre:</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                    class="fa fa-text-height"></i></span>
                                            <input id="txtTitulo" type="text" class="form-control form-control-bold"
                                                data-ng-maxlength="120" maxlength="120" data-ng-model="usuario.nombre"
                                                placeholder="El titulo aqui" required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtTitulo">Apellido Paterno:</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                    class="fa fa-text-height"></i></span>
                                            <input id="txtTitulo" type="text" class="form-control form-control-bold"
                                                data-ng-maxlength="120" maxlength="120" data-ng-model="usuario.paterno"
                                                placeholder="Apellido Paterno" required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtTitulo">Apellido Materno:</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                    class="fa fa-text-height"></i></span>
                                            <input id="txtTitulo" type="text" class="form-control form-control-bold"
                                                data-ng-maxlength="120" maxlength="120" data-ng-model="usuario.materno"
                                                placeholder="Apellido Paterno" required />
                                        </div>
                                    </div>
                               
                         			<div class="form-group">
                                      <label for="cbxAreaConocimiento">Tipo:</label>
                                           <div class="input-group"><span class="input-group-addon"><i
                                                 class="fa fa-book"></i></span>
                                                    <select id="cbxAreaConocimiento" class="form-control" required
                                                        data-ng-model="usuario.tipo">
                                                        <!--<select id="cbxAreaConocimiento" class="selectpicker" data-style="form-control btn-default btn-outline">-->
                                                        <option data-ng-repeat="area in areaConocimiento"
                                                            value="{{area.descripcion}}">{{area.descripcion}}
                                                        </option>
                                                    </select>
                                            </div>
                                     </div>

                                    <div class="form-group">
                                        <label for="txtTitulo">Contraseña:</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                    class="fa fa-text-height"></i></span>
                                            <input id="txtTitulo" type="text" class="form-control form-control-bold"
                                                data-ng-maxlength="120" maxlength="120" data-ng-model="usuario.password"
                                                placeholder="contraseña" required />
                                        </div>
                                    </div>

         
                    <div class="panel-footer">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-danger" style="margin-right:10px"
                                    data-ng-click="cancelar();"><i class="fa fa-times"></i>
                                    Cancelar
                                </button>
                                <button type="reset" class="btn btn-warning" style="margin-right:10px"><i
                                        class="fa fa-sync"></i> Restaurar
                                </button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-send"></i>
                                    {{usuario.id?'Actualizar':'Agregar'}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            		</div>
            	</div>
                
            </div>
        </div>
    </div>
</div>